.chad-img {
    height: 50%;
    width: 50%;
    padding-bottom: 0px;
}

.chad-img :hover {
    cursor: pointer;
}

.bg-img {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/767e3412-1d35-46c8-b38c-48725d3e4481/dae1jkt-135606b8-4a8b-4df6-bd7e-02a606f2266d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc2N2UzNDEyLTFkMzUtNDZjOC1iMzhjLTQ4NzI1ZDNlNDQ4MVwvZGFlMWprdC0xMzU2MDZiOC00YThiLTRkZjYtYmQ3ZS0wMmE2MDZmMjI2NmQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jYxLAAAd_hBAG0Fz582mbHgMuQaSdFuKMaHcDgFUytM");
    background-size: cover;
}

.bg-img2 {
    background-image: url("https://i.gifer.com/C1Cl.gif");
    background-size: cover;
    background-position: bottom bottom;
}

.height-control {
    height: 80%;
}

.opacity {
    opacity: 0.5;
}

.disable {
    pointer-events: none;
}

.div-height {
    max-height: 100px;
}

.col-bg {
    background-image: url("../../codeworks/Chkpt2/images/mini-card.png");
}

.card-size {
    height: 38px;
    width: 270px;
}

.cont {
    position: relative;
}

.btnin {
    height: 30px;
    width: 50px;
    text-align: center;
    align-items: center;
}

.hide-bar::-webkit-scrollbar {
    display: none;
}

.img-btn {
    background-image: url("https://i.ibb.co/5ccGzHY/button-test.png");
    background-size: cover;
    background-position: center center;
    height: 30px;
    width: 100px;
    border: none;
    opacity: 1;
}

.rw-bg {
    background-image: url("https://i.ibb.co/Hg24T89/mini-card.png");
    background-size: cover;
    background-position: center center;
    width: 90%;
    height: 90%;
}

.w-btn {
    width: 130px;
    height: 35px;
}

.retro {
    font-family: 'VT323', monospace;
}

.retro2 {
    font-family: 'Press Start 2P', cursive;
}

.bd {
    border: 5px;
    border-color: blueviolet;
}